.Btn {
    background-color: cyan;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #333;
    transition: box-shadow .15s;
}

.Btn .Icon {
    font-size: 15px;
}

.Btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #333;
}

.Btn:active {
    box-shadow: 0px 0px 3px #333;
}