.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr 30px;
}

.Grid>* {
    display: grid;
    padding: 0 20px;
}

.Grid>:nth-child(2) {
    padding: 20px;
}

.Grid> :nth-child(1) {
    background-color: #333;
    color: #fff;
}

.Grid> :nth-child(2) {

    background-color: #e1e1e1;
}

.Grid> :nth-child(3) {
    background-color: #aaa;
}