html,
body,
#root,
.App {
    height: 100%;
}

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-weight: 500;
}

h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
    color: cyan;
}